{% extends 'core/base.html' %}
{% block title %}
Certificado
{% endblock %}

{% block bg_image %}
{% load static %}
style="background-image: url('{{course.image.url}}');"
{% endblock %}

{% block page_title %}
{{course.title}}
{% endblock %}

{% block page_subtitle %}
{{course.school}}
{% endblock %}

{% block content %}

	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-sm-offset-2 col-md-8">
					<div class="section-header">
						<h2 class="title">{{course.title}}</h2>
					</div>
					<p class="text-justify">
					   {{course.content|safe}}
					</p>
					<br>                       
				</div>
				<!-- /why choose us content -->

			   

			</div>
			<!-- /Row -->
			<a class="lightbox" href="{{course.image.url}}" target="_blank"><img class="img-responsive col-sm-offset-2 col-md-8" src="{{course.image.url}}"></a>
		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->
    
{% endblock %}