{% extends 'core/base.html' %}
{% block title %}
Contact
{% endblock %}

{% block bg_image %}
{% load static %}
style="background-image: url('{% static 'core/img/contact.jpg' %}');"
{% endblock %}

{% block page_title %}
Contacto
{% endblock %}

{% block page_subtitle %}
¿Donde me pueden encontrar?
{% endblock %}

{% block content %}

<!-- Why Choose Us -->
<div id="features" class=" md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				
				<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">LinkedIn</h2>
							<a href="https://www.linkedin.com/in/juan-antonio-facundo-flores-12a461133/" target="_blank" class="btn btn-primary">Encontrar</a>
						</div>	                      
					</div>
						<!-- /why choose us content -->
				<!-- why choose us content -->
				<div class=" col-md-3">
					<div class="section-header">
						<h2 class="title">Github</h2>
						<a href="https://github.com/AnnTony1794/" target="_blank" class="btn btn-primary">Encontrar</a>
					</div>	                      
				</div>
					<!-- /why choose us content -->
					<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">Facebook</h2>
							<a href="https://www.facebook.com/antonio.facundoflores" target="_blank" class="btn btn-primary">Encontrar</a>
						</div>	                      
					</div>
						<!-- /why choose us content -->
						<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">Twitter</h2>
							<a href="#" class="btn btn-primary">Encontrar</a>
						</div>	                      
					</div>
						<!-- /why choose us content -->
					

			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

    
{% endblock %}