{% extends 'core/base.html' %}
{% block title %}
Contact
{% endblock %}

{% block bg_image %}
{% load static %}
style="background-image: url('{% static 'core/img/contact.jpg' %}');"
{% endblock %}

{% block page_title %}
Contacto
{% endblock %}

{% block page_subtitle %}
¿Donde me pueden encontrar?
{% endblock %}

{% block content %}

<!-- Why Choose Us -->
<div id="features" class=" md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">
				
				<!-- why choose us content -->
				<div class="col-md-3">
					<div class="section-header">
						<h2 class="title">LinkedIn</h2>
					</div>
					<p class="text-justify">
					   Información
					</p>
					<br>                       
				</div>
				<!-- /why choose us content -->
				<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">Github</h2>
						</div>
						<p class="text-justify">
						   Información
						</p>
						<br>                       
					</div>
					<!-- /why choose us content -->
					<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">Facebook</h2>
						</div>
						<p class="text-justify">
						   Información
						</p>
						<br>                       
					</div>
					<!-- /why choose us content -->
						<!-- why choose us content -->
				<div class=" col-md-3">
						<div class="section-header">
							<h2 class="title">Otro</h2>
						</div>
						<p class="text-justify">
						   Información
						</p>
						<br>                       
					</div>
					<!-- /why choose us content -->

			   

			</div>
			<!-- /Row -->
		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

    
{% endblock %}