{% extends 'core/base.html' %}
{% block title %}
Projects
{% endblock %}

{% block bg_image %}
{% load static %}
style="background-image: url('{% static 'core/img/bgProjects.jpg' %}');"
{% endblock %}

{% block page_title %}
Portafolio
{% endblock %}

{% block page_subtitle %}
Proyectos desarrollados <br>a lo largo de mi carrera.
{% endblock %}

{% block content %}

	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

            <!-- Container -->
            <div class="container">

                <!-- Row -->
                <div class="row">

                    <!-- why choose us content -->
                    <div class="col-sm-offset-2 col-md-8">
                        <div class="section-header">
                            <h2 class="title">Portafolio</h2>
                        </div>
                        <p class="text-justify">
                           Es un honor para mi mostrarles los proyectos en los que he trabajado tan duro
                           para ampliar mi experiencia en el mundo del desarrollo en diferentes plataformas.
                           <br><br>
                           ¡La mayoría del trabajo que verán a continuación estará publicado en Github para
                           para que puedan darle una ojeada al código, o bien, tomarlo como plantilla para sus
                           propios proyectos!
                           <br><br>
                           También se estarán publicando tutoriales con los temas utilizados en estos proyectos en la sección Blog.
                        </p>
                        <br>
                    </div>
                    <!-- /why choose us content -->



                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

        </div>
        <!-- /Why Choose Us -->

        <!-- Portfolio -->
	<div id="portfolio" class="section md-padding bg-grey">

            <!-- Container -->
            <div class="container">

                <!-- Row -->
                <div class="row">

                    <!-- Section header -->
                    <div class="section-header text-center">
                        <h2 class="title">Proyectos</h2>
                    </div>
                    <!-- /Section header -->

                    {% for project in project_list %}
                    <!-- Work -->
                    <div class=row>
                    <div class="col-md-4 col-xs-6 work">
                        <img class="img-responsive" src="{{project.image.url}}" border="20px">
                        <div class="overlay"></div>
                        <div class="work-content">
                            <span>{{project.language|default_if_none:"Programación"}}</span>
                            <h3>{{project.title}}</h3>
                            <div class="work-link">
                                <a href="{% url 'projects:project' project.id project.title|slugify %}"><i class="fa fa-external-link"></i></a>
                                <a class="lightbox" href="{{project.image.url}}"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- why choose us content -->
				<div class="col-sm-offset-1 col-md-7">

					<p class="text-justify">
						{{project.content|safe|slice:':200'}}...
						<a class=" btn" href="{% url 'projects:project' project.id project.title|slugify %}">Leer más</a>
					</p>
				</div>
				<!-- /why choose us content -->
                    </div>
                    <!-- /Work -->
                    {% endfor %}

                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->

        </div>
        <!-- /Portfolio -->
{% endblock %}